<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %> 
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %> 
        <form class="login-form" action="/login" method="POST">
                <label for="email">E-Mail</label>
                <input 
                    class="form-control <%= validationErrors.find(e => e.param === "email") ? "invalid" : "" %>"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= oldInput.email %>"
                >
                <label for="password">Password</label>
                <input 
                    class="form-control <%= validationErrors.find(e => e.param === "password") ? "invalid" : "" %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>">
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="text-center mb-2">
                <button class="btn" type="submit">Login</button>    
            </div>
        </form>
        <div class="centered"> 
            <a href="/reset">Reset Password</a>
        </div>   
        <div class="centered mt-2">
            <a href="/oauth2/google" class="btn red darken-1">
                <i class="fab fa-google left"></i> Đăng nhập với Google
            </a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>