<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0 text-center fw-bold text-success">
                                ĐĂNG KÝ TÀI KHOẢN
                            </h4>
                        </div>
                        <div class="card-body">
                            <% if(errorMessage) { %> 
                                <div class="alert alert-danger"><%= errorMessage %></div>
                            <% } %> 
                            <form class="login-form" action="/signup" method="POST" novalidate>
                                    <label class="form-label" for="name">Tên của bạn</label>
                                    <input 
                                        class="form-control <%= validationErrors.find(e => e.param === "name") ? "invalid" : "" %>"
                                        type="text" 
                                        name="name" 
                                        id="name" 
                                        value="<%= oldInput.name %>"
                                    >
                                    <label class="form-label" for="email">Địa chỉ email</label>
                                    <input 
                                        class="form-control <%= validationErrors.find(e => e.param === "email") ? "invalid" : "" %>"
                                        type="email" 
                                        name="email" 
                                        id="email" 
                                        value="<%= oldInput.email %>"
                                    >
                                    <label class="form-label" for="password">Mật khẩu</label>
                                    <input 
                                        class="form-control <%= validationErrors.find(e => e.param === "password") ? "invalid" : "" %>"
                                        type="password" 
                                        name="password" 
                                        id="password" 
                                        value="<%= oldInput.password %>"
                                    >
                                    <label class="form-label"for="confirmPassword">Mật khẩu xác nhận</label>
                                    <input 
                                        class="form-control <%= validationErrors.find(e => e.param === "confirmPassword") ? "invalid" : "" %>"
                                        type="password" 
                                        name="confirmPassword" 
                                        id="confirmPassword" 
                                        value="<%= oldInput.confirmPassword %>"
                                    >
                    
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-primary mt-2" type="submit">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>