<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="alert alert-info">
                                <h5 class="fw-bold mb-3">LỌC ĐƠN HÀNG</h5>
                                <form class="text-start">
                                    <div class="form-group mb-2">
                                        <label for="username" class="form-label"><strong>Email khách hàng</strong></label>
                                        <input 
                                          type="email"
                                          name="e" 
                                          class="form-control" 
                                          id="username" 
                                          placeholder="Nhập email khách hàng"
                                          value=<% if(filter) { %><%= filter.e ? filter.e : "" %><% } %>
                                        >
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="status" class="form-label"><strong>Trạng thái đơn hàng</strong></label>
                                        <select id="status" name="s" class="form-control">
                                            <option <%= !filter ? "" : "selected" %>  selected value="">Tất cả</option>
                                            <option <% if(filter) { %><%= filter.s === "Chờ xác nhận" ? "selected" : "" %><% } %> value="Chờ xác nhận">Chờ xác nhận</option>
                                            <option <% if(filter) { %><%= filter.s === "Đã xác nhận" ? "selected" : "" %><% } %> value="Đã xác nhận">Đã xác nhận</option>
                                            <option <% if(filter) { %><%= filter.s === "Đang vận chuyển" ? "selected" : "" %><% } %> value="Đang vận chuyển">Đang vận chuyển</option>
                                            <option <% if(filter) { %><%= filter.s === "Đã nhận" ? "selected" : "" %><% } %> value="Đã nhận">Đã nhận</option>
                                            <option <% if(filter) { %><%= filter.s === "Đã trả về" ? "selected" : "" %><% } %> value="Đã trả về">Đã trả về</option>
                                            <option <% if(filter) { %><%= filter.s === "Đã hủy" ? "selected" : "" %><% } %> value="Đã hủy">Đã hủy</option>
                                        </select>
                                        </div>
                                    <div class="form-group mb-2">
                                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="alert alert-info text-center">
                              <h2 class="mb-0 fw-bold">DANH SÁCH ĐƠN HÀNG</h2>
                          </div>
                          <% if (orders.length <= 0) { %>
                            <div class="row justify-content-center">
                              <div class="text-center">
                                  <div class="card mt-4">
                                    <div class="card-body">
                                      <h3 class="card-title">Không tìm thấy đơn hàng</h3>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          <% } else { %>
                            <ul class="orders">
                                <% orders.forEach(order => { %>
                                    <li class="orders__item">
                                        <h1><strong>Mã đơn hàng:</strong> <%= order._id %> <% if(isAdmin) { %><a href="/orders/<%= order.id %>">Invoice</a><% } %></h1>
                                        <h1 class="mt-2"><strong>Khách hàng: </strong><%= order.user.userId.name %>, <strong>email:</strong> <%= order.user.userId.email %>, <strong>SĐT: </strong><%= order.user.userId.contact.phone %></h1>
                                        <h1 class="mt-2"><strong>Địa chỉ nhận:</strong> <%= order.user.address %></h1>
                                        <h1 class="mt-2"><strong>Trạng thái: </strong><%= order.status %></h1>
                                        <h1 class="mt-2"><strong>Ngày đặt hàng: </strong><%= order.createdAt.getHours() + ":" + order.createdAt.getMinutes() + " " + order.createdAt.getDate() + "-" + order.createdAt.getMonth() + "-" + order.createdAt.getFullYear()%></h1>
                                        <h1 class="mt-2"><strong>Cập nhật lần cuối: </strong><%= order.updatedAt.getHours() + ":" + order.updatedAt.getMinutes() + " " + order.updatedAt.getDate() + "-" + order.updatedAt.getMonth() + "-" + order.updatedAt.getFullYear() %></h1>
                                        <table class="table table-success table-striped table-bordered border-dark mt-3">
                                            <thead>
                                                <tr>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Số lượng</th>
                                                    <th>Đã giảm giá</th>
                                                    <th>Giá</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% order.products.forEach(p => { %> 
                                                    <tr>
                                                        <td><%= p.product.name %></td>
                                                        <td><%= p.quantity %></td>
                                                        <td><%= p.product.discount > 0 ? p.product.discount + "%" : "không có"%> </td>
                                                        <td class="price"><%= p.product.price %></td>
                                                    </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                        <div class="total"><strong>Tổng tiền <span class="price"><%= order.total %></span></strong></div>
                                        <% if(isAdmin) { %>
                                        <div class="mt-2">
                                            <% if(order.status === "Chờ xác nhận") { %>
                                                <a href="/admin/update-order/<%= order._id %>" class="btn btn-primary">Xác nhận</a>
                                            <% } %> 
                                            <% if(order.status === "Đã xác nhận" || order.status === "Đã trả về") { %>
                                                <a href="/admin/update-order/<%= order._id %>" class="btn btn-primary">Gửi hàng</a>
                                            <% } %> 
                                            <% if(order.status === "Đang vận chuyển") { %>
                                                <a href="/admin/update-order/<%= order._id %>" class="btn btn-primary">Đã nhận hàng</a>
                                                <a href="/admin/return-order/<%= order._id %>" class="btn btn-warning">Chưa nhận hàng</a>
                                            <% } %> 
                                            <% if(!["Đã nhận", "Đã hủy"].includes(order.status)) { %> 
                                                <a href="<%= path === "/orders" ? "/cancel-order-owner" : "/admin/cancel-order" %>/<%= order._id %>" class="btn btn-danger">Hủy đơn hàng</a>
                                            <% } %> 
                                        </div>
                                        <% } %> 
                                        <% if(error && error.orderId === order.id) { %>
                                            <div class="mt-2 alert alert-danger">
                                                <%= error.message %> 
                                            </div>
                                        <% } %>  
                                    </li>
                                <% }); %>
                            </ul>
                            <%- include('../includes/pagination.ejs') %> 
                          <% } %>
                        </div>
                    </div>
            </div>  
        </main>
        <script>
            const allCartItemsPrice = [...document.querySelectorAll(".price")];
            allCartItemsPrice.forEach(i => {
                i.innerHTML = i.innerHTML.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + "đ";
            })
        </script>
        <%- include('../includes/end.ejs') %>