<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <% if (products.length > 0) { %>
                <div class="row justify-content-center">
                    <dic class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="alert alert-primary">
                                            <h3 class="mb-0 fw-bold text-center">Giỏ hàng</h3>
                                            <div id="error-message"></div>
                                            <% if(hasError) { %> 
                                            <div class="alert mt-2 alert-danger">
                                                <h5 class="mb-0 text-center"><%= errorMessage %></h5>
                                            </div>
                                            <% } %> 
                                            <% products.forEach(p => { %>
                                                <div class="cart-item pt-3 pb-3">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <img src="<%= p.productId.imageUrl.official %>" class="w-100" alt="productImage" />
                                                        </div>
                                                        <div class="col-8">
                                                            <strong><%= p.productId.name %></strong><br>
                                                            <span class="cart-item-price" data-price="<%= p.productId.getPriceWithDiscount() %>"><%= p.productId.formatDiscountPrice() %></span><br/>
                                                            Số lượng: <input name="quantity" style="width: 80px;" type="number" min="1" step="1" value="<%= p.quantity %>"/>
                                                            <input name="productId" type="hidden" value="<%= p.productId._id %>"/>
                                                        </div>
                                                        <div class="col-2 text-end">    
                                                            <form action="/cart-delete-item" method="POST">
                                                                <input name="productId" type="hidden" value="<%= p.productId._id %>"/>
                                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                <button type="submit" class="btn btn-sm">Xóa</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            <% }) %>
                                            <div class="row">
                                                <div class="col-12">
                                                    <span id="total"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="alert alert-success" role="alert">
                                            <h3 class="mb-0 fw-bold text-center">Thông tin liên lạc</h3>
                                            <div class="mb-3">
                                                <label for="country" class="form-label">Quốc gia</label>
                                                <input 
                                                type="text" 
                                                name="country" 
                                                class="form-control" 
                                                id="country" 
                                                readonly
                                                value="<%= contact.country %>"
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label for="province" class="form-label">Tỉnh, Thành phố</label>
                                                <input 
                                                type="text" 
                                                name="province" 
                                                class="form-control" 
                                                id="province" 
                                                readonly
                                                value="<%= contact.province %>"
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label for="district" class="form-label">Quận, Huyện</label>
                                                <input 
                                                type="text" 
                                                name="district" 
                                                id="district" 
                                                class="form-control" 
                                                readonly
                                                value="<%= contact.district %>"
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label for="detail" class="form-label">Đường, Số nhà</label>
                                                <input 
                                                type="text" 
                                                name="detail" 
                                                id="detail" 
                                                class="form-control" 
                                                readonly
                                                value="<%= contact.detail %>"
                                                >
                                            </div>
                                            <div class="mb-3">
                                                <label for="phone" class="form-label">Số Điện Thoại</label>
                                                <input 
                                                type="text" 
                                                name="phone" 
                                                id="phone" 
                                                class="form-control" 
                                                readonly
                                                value="<%= contact.phone %>"
                                                >
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <a href="/profile" class="btn">Sửa đổi</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 text-end">
                                        <a href="/payment-cod" class="btn w-100">
                                            Thanh toán khi nhận hàng
                                        </a>
                                    </div>
                                    <div class="col-3 text-start">
                                        <button class="btn w-100">
                                            Thanh toán qua stripe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <div class="row justify-content-center">
                        <div class="col-5 text-center">
                        <div class="card mt-4">
                            <div class="card-body">
                            <h3 class="card-title">Chưa có sản phẩm trong giỏ hàng</h3>
                            <a href="/" class="btn btn-primary mt-3">Mua hàng</a>
                            </div>
                        </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
            <script type="text/javascript">
                const allInQuantity = document.querySelectorAll(".cart-item input[name='quantity']");
                const allCartItemsPrice = [...document.querySelectorAll(".cart-item-price")];

                const updateTotal = () => {
                    let total = allCartItemsPrice.reduce((sum, e) => {
                        const quantity = e.parentElement.querySelector("input[name='quantity']").value;
                        return sum + +e.dataset.price * quantity;
                    }, 0);

                    total = total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + "đ";

                    document.querySelector("#total").innerHTML = `<h5>Tổng tiền: ${total}</h5>`;
                } 
                updateTotal();

                allInQuantity.forEach(inQuantity => {
                    inQuantity.addEventListener("change", async (e) => {
                        const quantity = e.target.value;
                        const productId = e.target.nextElementSibling.value;
                        const errorAlert = document.querySelector("#error-message");

                        try {
                            const response = await axios.post("http://localhost:3000/cart/quantity", {
                                    quantity: quantity,
                                    productId: productId,
                                },
                                {
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'CSRF-Token': "<%= csrfToken %>"
                                    }
                                }
                            )
                            if(response.status === 200) {
                                updateTotal();
                                errorAlert.classList.remove("alert", "alert-danger");
                                errorAlert.innerHTML = "";
                            }
                        } catch (error) {
                            errorAlert.classList.add("alert", "alert-danger");
                            errorAlert.innerHTML = error.response.data.errorMessage;
                        }
                    })
                })
            </script>
        </main>
        <%- include('../includes/end.ejs') %>