<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container bg-light bg-gradient pt-3 pb-3">
                    <div class="alert alert-info mb-4">
                        <h3 class="mb-0 fw-bold text-center text-uppercase">tất cả sản phẩm</h3>
                    </div>
                    <form>
                        <div class="row mb-3">
                            <div class="col-lg-4 mb-3">
                                <label class="form-label fw-bold" for="name">Tên sản phẩm</label>
                                <input name="n" id="name" type="text" class="form-control"
                                    <% if(hasFilter) { %> 
                                        value=<%= filter.n %> 
                                    <% } %> 
                                >
                            </div>
                            <div class="col-lg-2 mb-3">
                                <label class="form-label fw-bold" for="category">Loại sản phẩm</label>
                                <select name="c" class="form-select" id="category">
                                    <option value="">Tất cả</option>
                                    <option value="Laptop" <% if(hasFilter) { if(filter.c === "Laptop") { %>selected<% } } %>>Laptop</option>
                                    <option value="Điện thoại" <% if(hasFilter) { if(filter.c === "Điện thoại") { %>selected<% } } %>>Điện thoại</option>   
                                </select>
                            </div>
                            <div class="col-lg-2 mb-3">
                                <% 
                                    const brands = allProduct.map(product => product.brand).filter((brand, index, array) => 
                                        array.indexOf(brand) === index
                                    )
                                    %> 
                                <label class="form-label fw-bold" for="category">Thương hiệu</label>
                                <select name="b" class="form-select" id="brand">
                                    <option value="">Tất cả</option>
                                    <% brands.forEach(brand => { %> 
                                        <option value="<%= brand %>" <% if(hasFilter) { if(filter.b === brand) { %>selected<% } } %>><%= brand %></option>
                                        <% }); %>    
                                    </select>
                                </div>
                                <div class="col-lg-2  mb-3">
                                    <label class="form-label fw-bold" for="price">Giá</label>
                                    <select name="p" class="form-select" id="price">
                                        <option value='{"min":0,"max":"Infinity"}' <% if(hasFilter) { if(filter.p === '{"min":0,"max":"Infinity"}') { %>selected<% } } %>>Tất cả</option>
                                        <option value='{"min":0,"max":5000000}' <% if(hasFilter) { if(filter.p === '{"min":0,"max":5000000}') { %>selected<% } } %>>Ít hơn 5 Triệu</option>   
                                        <option value='{"min":5000000,"max":10000000}' <% if(hasFilter) { if(filter.p === '{"min":5000000,"max":10000000}') { %>selected<% } } %>>5 - 10 triệu</option>
                                        <option value='{"min":10000000,"max":20000000}' <% if(hasFilter) { if(filter.p === '{"min":10000000,"max":20000000}') { %>selected<% } } %>>10 - 20 triệu</option>
                                        <option value='{"min":20000000,"max":"Infinity"}' <% if(hasFilter) { if(filter.p === '{"min":20000000,"max":"Infinity"}') { %>selected<% } } %>>Lớn hơn 20 triệu</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 mb-3">
                                <label class="form-label fw-bold" for="sortBy">Sắp xếp theo</label>
                                <select name="s" class="form-select" id="sortBy">
                                    <option value="new" <% if(hasFilter) { if(filter.s === "new") { %>selected<% } } %>>Mới nhất</option>
                                    <option value="priceAsc" <% if(hasFilter) { if(filter.s === "priceAsc") { %>selected<% } } %>>Giá thấp đến cao</option>
                                    <option value="priceDesc" <% if(hasFilter) { if(filter.s === "priceDesc") { %>selected<% } } %>>Giá cao đến thấp</option>   
                                    <option value="discount" <% if(hasFilter) { if(filter.s === "discount") { %>selected<% } } %>>Đang giảm giá</option> 
                                </select>
                            </div>
                            <div class="col-lg-2 mb-3 w-100">
                                <button type="submit" class="btn btn-primary btn-sm">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                <% if (prods.length > 0) { %>
                    <div class="row">
                        <% for (let product of prods) { %>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="card-body centered">
                                        <img src="/<%= product.imageUrl.official %>" class="card-img-top" alt="<%= product.name %>">
                                        <h5 class="card-title mt-3"><%= product.name %></h5>
                                        <h5 class="card-text mb-0">
                                            <span class="fw-bold price"><%= product.priceWithDiscount %></span>
                                            <small class="text-decoration-line-through price"><%= product.price %></small>
                                        </h5>
                                        <div class="row" <%= !product.avgRating ? 'style=visibility:hidden;' : "" %>>
                                            <div class="col-12 rating-container">
                                            <%- include("../includes/ratingview.ejs", {
                                                rating: product.avgRating,
                                            })%> 
                                            </div>
                                        </div>
                                        <a href="/products/<%= product._id %>" class="btn btn-primary">Details</a>
                                        <% if (isAuthenticated) { %>
                                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {
                        query: query,
                        currentPage: currentPage,
                        totalItems: totalItems,
                        itemPerPage: itemPerPage,
                    }) %>
                </div>
                <% } else { %>
                    <h1>No Products Found!</h1>
                <% } %>
                <script>
                    document.querySelectorAll(".price").forEach(e => {
                        e.innerHTML = e.innerHTML.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + "đ";
                    })
                </script>
            </main>
            <%- include('../includes/end.ejs') %>